* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

/* body{
  width: 1440px;
} */

header {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 75px;
  height: 85px;
}

.left-side-header {
  display: flex;
  gap: 50px;
}

nav ul li {
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
}

.right-side-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-avatar {
  width: 40px;
}

.line {
  height: 1px;
  background-color: #ddd;
  width: 90%;
  align-self: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 85px);
  gap: 100px;
}

.left-side-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.items{
  align-self: flex-end;
}

.selected-image {
  max-width: 400px;
}

.selected-image img {
  width: 100%;
  border-radius: 10px;
}

.thumbnails {
  display: flex;
  justify-content: space-evenly;
  max-width: 400px;
  gap: 10px;
}

.thumbnail img {
  width: 100%;
  border-radius: 10px;
}

.content{
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.right-side-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.right-side-container h6{
  color: hsl(26, 100%, 55%);
  margin-bottom:  20px;
}

.right-side-container p{
  color: hsl(219, 9%, 45%);
  font-size: 14px;
  margin-bottom:  20px;
}

.prices{
  display: flex;
  align-items: center;
  font-weight: 700;
  gap: 10px;
}

.price-off{
  font-size: 20px;
  font-weight: 700;
  margin-bottom:  5px;
}

.discount{
  font-size: 12px;
  padding: 5px;
  font-weight: 700;
  color: hsl(26, 100%, 55%);
  background-color: hsl(25, 100%, 94%);
  border-radius: 10px;
  margin-bottom:  10px;
}

.price{
  font-size: 14px;
  color: #ccc;
  text-decoration: line-through;
  margin-bottom:  20px;
}

.options{
  display: flex;
  gap: 20px;
}

.amount{
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: hsl(223, 64%, 98%);
  padding: 10px 20px;
  width: fit-content;
  border-radius: 10px;
}

.amount span{
  font-weight: 700;
  font-size: 12px;
}

.minus, .plus{
  cursor: pointer;
}

.button{
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background-color: hsl(26, 100%, 55%);
  padding: 20px 35px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  font-size: 12px;
  font-weight: 700;
}

.button img{
  width: 14px;
  fill: #ffffff;
}


